html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  word-break: normal;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

:root {
  --color-bg: #fff;
  --color-main: #333;
  --color-hero: #fff;
  --color-header: #fff;
  --color-header-fixed-bg: #042771;
  --color-for-contact: #2E63D4;
  --color-for-recruit: #FF7F00;
  --color-news-header: #fff;
  --color-news-header-bg: #FF7F00;
  --color-category-bg: #D9D9D9;
  --color-section-title: #1C3B7D;
  --color-about-sub: #555;
  --color-button: #fff;
  --color-button-bg-l: #1C3B7D;
  --color-button-bg-r: #2E63D4;
  --color-about-bg: #eee;
  --color-service-bg: #fff;
  --color-bottom: #fff;
  --color-bottom-line: #FF7F00;
}

:root {
  --font-base: "Noto Sans", Arial, "Noto Sans JP", Meiryo, sans-serif;
  --font-awesome: "Font Awesome 6 free";
}
:root .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html {
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.05em;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-main);
}

/* break point */
.br_sp {
  display: none;
}

@media screen and (max-width: 1025px) {
  .br_sp {
    display: block;
  }
}
.sp {
  display: none;
}

@media screen and (max-width: 1025px) {
  .sp {
    display: block;
  }
}
.pc {
  display: block;
}

@media screen and (max-width: 1025px) {
  .pc {
    display: none;
  }
}
.for-contact {
  background-color: var(--color-for-contact);
}

.for-contact::after {
  content: "\f0e0";
}

.for-recruit {
  background-color: var(--color-for-recruit);
  margin-left: -3px;
}

.for-recruit::after {
  content: "\f00c";
}

.c-container {
  display: block;
  width: 68%;
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 1025px) {
  .c-container {
    width: calc(100% - 30px);
  }
}
.c-nav {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.c-nav li {
  margin-right: 20px;
}

.c-nav:last-child {
  margin-right: 0;
}

.c-nav li a {
  cursor: pointer;
  text-decoration: none;
}

.c-header-button {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1em;
  letter-spacing: 0.02em;
  padding-top: 64px;
  padding-bottom: 24px;
  border: 3px solid var(--color-header);
  position: relative;
}

.c-header-button::after {
  display: block;
  font-family: var(--font-awesome);
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1em;
  letter-spacing: 0.02em;
  position: absolute;
  top: 24px;
  left: calc(50% - 1.25rem);
}

.c-button {
  font-size: 1.13rem;
  line-height: 1em;
  letter-spacing: 0.15em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: 15rem;
  padding: 1.19rem;
  padding-right: 9.93rem;
  color: var(--color-main);
  border: 1px solid var(--color-main);
  position: relative;
}

.c-button::after {
  position: absolute;
  top: 1.19rem;
  right: 1.19rem;
  content: "\f105";
  font-family: var(--font-awesome);
  font-size: 1.13rem;
  line-height: 1em;
  font-size: 900;
}

.c-news-contents {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}
.c-news-contents li a {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--color-main);
  white-space: nowrap;
}
.c-news-contents li a .date {
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0.15em;
}
.c-news-contents li a .category {
  font-size: 0.75rem;
  line-height: 1em;
  letter-spacing: 0.2em;
  padding: 0.44rem 1.25rem;
  background-color: var(--color-category-bg);
  border-radius: 1.25rem;
}
.c-news-contents li a .title {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  /*
  * To Do: define optimal width in order to display text overflow ellipsis.
  */
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1025px) {
  .c-news-contents li a {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 0.375rem;
    align-items: center;
  }
  .c-news-contents li a .title {
    order: 1;
  }
  .c-news-contents li a::after {
    content: "";
    width: 100%;
  }
}
.c-section-title {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: var(--color-section-title);
  margin-bottom: 3rem;
}
.c-section-title h1 {
  font-size: 4rem;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 900;
}
.c-section-title h1::after {
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 3px;
  height: 2rem;
  margin-left: 1.25rem;
  background-color: var(--color-section-title);
}
.c-section-title p {
  margin-top: 0.375rem;
  font-size: 1rem;
  line-height: 1em;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.c-blue-slash {
  position: relative;
}

.c-blue-slash::after {
  display: block;
  content: "";
  width: 1.25rem;
  height: 3.125rem;
  background: linear-gradient(360deg, var(--color-button-bg-l), var(--color-button-bg-r));
  transform: skewX(-30deg);
  position: absolute;
  top: -1.25rem;
  left: 2.5rem;
}

.c-bottom-section-title {
  color: var(--color-bottom);
}
.c-bottom-section-title h1 {
  font-size: 4rem;
  line-height: 1.5em;
  font-weight: 900;
}
.c-bottom-section-title h1::after {
  content: "";
  display: block;
  width: 1.375rem;
  height: 0.25rem;
  margin-top: -2px;
  background-color: var(--color-bottom);
}
.c-bottom-section-title p {
  display: block;
  margin-top: -0.75rem;
  margin-left: 2.125rem;
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0.2em;
  font-weight: 700;
}

@media screen and (max-width: 1025px) {
  .c-bottom-section-title h1 {
    font-size: 2, 0rem;
    line-height: 1.5em;
  }
  .c-bottom-section-title h1::after {
    width: 0.75rem;
    height: 1px;
    margin: 1px auto 0;
  }
  .c-bottom-section-title p {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 1em;
  }
}
header {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: var(--color-header-fixed-bg);
  position: fixed;
  z-index: 1000;
}
header .c-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding-left: 50px;
  align-items: center;
  justify-content: space-between;
}
header .c-nav {
  color: var(--color-header);
  align-items: center;
  font-size: 1rem;
  line-height: 1em;
  font-weight: bold;
}
header .c-nav li {
  margin-right: 20px;
}
header .c-nav li a {
  color: var(--color-header);
}
header .c-nav :nth-child(3) {
  margin-right: 30px;
}
header .c-nav :nth-child(4), header .c-nav :last-child {
  margin-right: 0;
}

.top {
  display: block;
  width: 100%;
  height: auto;
  background-image: url(../../img/top_image.jpg);
  background-size: cover;
}
.top .c-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.top .c-container .top-contents {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: var(--color-hero);
  position: relative;
}
.top .c-container .top-contents .hero-message h1 {
  display: block;
  font-size: 96px;
  line-height: 96px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.02em;
}
.top .c-container .top-contents .hero-message h1 span {
  line-height: 78px;
  letter-spacing: 0;
  font-weight: 200;
}
.top .c-container .top-contents .hero-message p {
  font-size: 2rem;
  line-height: 2em;
  letter-spacing: 0.05em;
  display: block;
  position: absolute;
  top: 215px;
  right: 171px;
}
.top .c-container .top-contents .hero-message .c-button {
  color: var(--color-hero);
  border-color: var(--color-hero);
}

.news {
  margin-top: -12.75rem;
  margin-bottom: 2.75rem;
}
.news .c-container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  border: 5px solid var(--color-news-header);
  background-color: var(--color-news-header);
}
.news .c-container .news-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--color-news-header);
  padding: 2.75rem 2.9rem;
  background-color: var(--color-news-header-bg);
}
.news .c-container .news-header div {
  font-weight: 700;
  text-align: center;
}
.news .c-container .news-header div h1 {
  font-size: 2.25rem;
  line-height: 1em;
}
.news .c-container .news-header div p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 2px;
}
.news .c-container .c-news-contents {
  padding: 2rem;
}
.news .c-container .news-button {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.125rem;
  padding: 10px 20px 10px 40px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-news-header);
  background-color: var(--color-news-header-bg);
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  position: absolute;
  bottom: 0;
  right: -1.25rem;
}
.news .c-container .news-button::after {
  content: "\f105";
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
  font-weight: 900;
  font-family: var(--font-awesome);
  margin-left: 3.25rem;
}

@media screen and (max-width: 1025px) {
  .news {
    margin: 0;
    margin-top: -2.75rem;
  }
  .news .c-container {
    width: 100%;
    border: 0;
    flex-wrap: wrap;
    background-color: transparent;
  }
  .news .c-container .c-news-contents {
    background-color: var(--color-news-header);
    padding: 1.25rem 15px 15px;
  }
  .news .c-container .news-header {
    display: block;
    flex-wrap: nowrap;
    padding: 0;
    padding-top: 8px;
    padding-left: 0.8rem;
    padding-bottom: 4px;
    width: 70%;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
  }
  .news .c-container .news-header div {
    text-align: left;
  }
  .news .c-container .news-header div h1 {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic;
  }
  .news .c-container .news-header div p {
    display: inline-block;
    font-size: 0.75rem;
    line-height: 2em;
    margin-top: 0;
    margin-left: 0.2rem;
  }
  .news .c-container .news-button {
    -webkit-clip-path: none;
            clip-path: none;
    background-color: transparent;
    color: var(--color-news-header-bg);
    border: 1px solid var(--color-news-header-bg);
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 0.75rem;
    line-height: 1em;
    width: 9.375rem;
    padding: 0.75rem;
    padding-right: 4.375rem;
    white-space: nowrap;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .news .c-container .news-button::after {
    margin: 0;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    font-size: 0.75rem;
    line-height: 1em;
  }
}
.about {
  padding: 120px 0;
  position: relative;
}
.about .c-container .sub-title {
  text-align: center;
  font-size: 2.25rem;
  line-height: 1em;
  letter-spacing: 0.15em;
  font-weight: 700;
  color: var(--color-about-sub);
  margin-bottom: 3rem;
}
.about .c-container p {
  font-size: 1.125rem;
  line-height: 2em;
  letter-spacing: 0.05em;
  font-weight: 400;
  margin-bottom: 3rem;
}
.about .c-container .c-button {
  display: block;
  color: var(--color-button);
  background: linear-gradient(90deg, var(--color-button-bg-l), var(--color-button-bg-r));
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  top: -120px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
  background-color: var(--color-about-bg);
  -webkit-clip-path: polygon(0 0, 90% 0, 49% 100%, 0 100%);
          clip-path: polygon(0 0, 90% 0, 49% 100%, 0 100%);
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 10rem;
  right: 3rem;
  width: 50%;
  height: 100%;
  max-width: 52rem;
  background-image: url(../../img/message_bg.svg);
  background-size: contain;
}

.service {
  padding: 120px 0;
  background-image: url(../../img/service_bg.jpg);
  background-size: cover;
}
.service .c-container .c-section-title {
  color: var(--color-service-bg);
}
.service .c-container .c-section-title h1::after {
  background-color: var(--color-service-bg);
}
.service .c-container .service-contents {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 8%;
       column-gap: 8%;
  align-items: center;
}
.service .c-container .service-contents .service-main {
  width: 50%;
  background-color: var(--color-service-bg);
  padding: 100px 15px 20px;
}
.service .c-container .service-contents .service-main h1 {
  text-align: center;
  font-size: 2.25rem;
  line-height: 1.5em;
  margin-bottom: 1.25rem;
}
.service .c-container .service-contents .service-main h1 span {
  display: block;
  font-size: 7.5rem;
  line-height: 1em;
  margin-bottom: 3.75rem;
}
.service .c-container .service-contents .service-main p {
  font-size: 1.125rem;
  line-height: 2em;
}
.service .c-container .service-contents .service-main .c-button {
  display: block;
  margin-left: 5px;
  margin-top: 3.5rem;
  color: var(--color-service-bg);
  background: linear-gradient(90deg, var(--color-button-bg-l), var(--color-button-bg-r));
}
.service .c-container .service-contents .service-sub {
  list-style: none;
  width: 42%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.service .c-container .service-contents .service-sub li {
  display: block;
  width: 100%;
  background-color: var(--color-service-bg);
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 700;
  padding: 2.5rem 0;
}
.service .c-container .service-contents .service-sub li span {
  margin-bottom: 1rem;
  display: block;
  font-size: 4.5rem;
  line-height: 1em;
}

.contact {
  padding: 140px 0;
  color: var(--color-bottom);
  background: linear-gradient(12deg, var(--color-button-bg-l), var(--color-button-bg-r));
  position: relative;
}
.contact .c-container .contact-contents .bottom-text {
  margin: 30px 0;
}
.contact .c-container .contact-contents .c-button {
  display: block;
  color: var(--color-bottom);
  border-color: var(--color-bottom);
}
.contact .c-container img {
  display: block;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(42% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(42% 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
}

.contact::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: var(--color-bottom-line);
  z-index: 3;
  top: 2.5rem;
  right: 0;
}

@media screen and (max-width: 1025px) {
  .contact {
    padding: 3rem 0;
    background: linear-gradient(45deg, var(--color-button-bg-l), var(--color-button-bg-r));
  }
  .contact .c-container .contact-contents {
    text-align: center;
  }
  .contact .c-container .contact-contents .bottom-text {
    margin: 0.75rem 0;
  }
  .contact .c-container .contact-contents .c-button {
    display: inline-block;
    border: none;
    background: var(--color-bottom);
    color: var(--color-for-contact);
  }
  .contact .c-container img {
    display: none;
  }
  .contact::after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */