html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  word-break: normal;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

:root {
  --color-bg: #fff;
  --color-main: #333;
  --color-hero: #fff;
  --color-header: #fff;
  --color-header-fixed-bg: #042771;
  --color-for-contact: #2E63D4;
  --color-for-recruit: #FF7F00;
}

:root {
  --font-base: "Noto Sans", Arial, "Noto Sans JP", Meiryo, sans-serif;
  --font-awesome: "Font Awesome 6 free";
}

html {
  font-size: 16px;
  line-height: 1rem;
  letter-spacing: 0.05em;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-main);
}

/* break point */
.br_sp {
  display: none;
}

@media screen and (max-width: 1025px) {
  .br_sp {
    display: block;
  }
}
.sp {
  display: none;
}

@media screen and (max-width: 1025px) {
  .sp {
    display: block;
  }
}
.pc {
  display: block;
}

@media screen and (max-width: 1025px) {
  .pc {
    display: none;
  }
}
.for-contact {
  background-color: var(--color-for-contact);
}

.for-contact::after {
  content: "\f0e0";
}

.for-recruit {
  background-color: var(--color-for-recruit);
  margin-left: -3px;
}

.for-recruit::after {
  content: "\f00c";
}

.c-container {
  display: block;
  width: 68%;
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 1025px) {
  .c-container {
    width: calc(100% - 30px);
  }
}
.c-nav {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.c-nav li {
  margin-right: 20px;
}

.c-nav:last-child {
  margin-right: 0;
}

.c-nav li a {
  cursor: pointer;
  text-decoration: none;
}

.c-header-button {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1em;
  letter-spacing: 0.02em;
  padding-top: 64px;
  padding-bottom: 24px;
  border: 3px solid var(--color-header);
  position: relative;
}

.c-header-button::after {
  display: block;
  font-family: var(--font-awesome);
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1em;
  letter-spacing: 0.02em;
  position: absolute;
  top: 24px;
  left: calc(50% - 1.25rem);
}

.c-button {
  font-size: 1.13rem;
  line-height: 1em;
  letter-spacing: 0.15em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: 15rem;
  padding: 1.19rem;
  padding-right: 9.93rem;
  color: var(--color-main);
  border: 1px solid var(--color-main);
  position: relative;
}

.c-button::after {
  position: absolute;
  top: 1.19rem;
  right: 1.19rem;
  content: "\f105";
  font-family: var(--font-awesome);
  font-size: 1.13rem;
  line-height: 1em;
  font-size: 900;
}

header {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: var(--color-header-fixed-bg);
  position: fixed;
  z-index: 1000;
}
header .c-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding-left: 50px;
  align-items: center;
  justify-content: space-between;
}
header .c-nav {
  color: var(--color-header);
  align-items: center;
  font-size: 1rem;
  line-height: 1em;
  font-weight: bold;
}
header .c-nav li {
  margin-right: 20px;
}
header .c-nav li a {
  color: var(--color-header);
}
header .c-nav :nth-child(3) {
  margin-right: 30px;
}
header .c-nav :nth-child(4), header .c-nav :last-child {
  margin-right: 0;
}

.top {
  display: block;
  width: 100%;
  height: auto;
  background-image: url(../../img/top_image.jpg);
  background-size: cover;
}
.top .c-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.top .c-container .top-contents {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: var(--color-hero);
  position: relative;
}
.top .c-container .top-contents .hero-message h1 {
  display: block;
  font-size: 96px;
  line-height: 96px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.02em;
}
.top .c-container .top-contents .hero-message h1 span {
  line-height: 78px;
  letter-spacing: 0;
  font-weight: 200;
}
.top .c-container .top-contents .hero-message p {
  font-size: 2rem;
  line-height: 2em;
  letter-spacing: 0.05em;
  display: block;
  position: absolute;
  top: 215px;
  right: 171px;
}
.top .c-container .top-contents .hero-message .c-button {
  color: var(--color-hero);
  border-color: var(--color-hero);
}

/*# sourceMappingURL=style.css.map */