:root {
    --color-bg: #fff;
    --color-main: #333;
    --color-hero: #fff;
    --color-header: #fff;
    --color-header-fixed-bg: #042771;
    --color-nav-sp: #042771;
    --color-nav-sp-bg: rgb(255,255,255,0.9);
    --color-for-contact: #2E63D4;
    --color-for-recruit: #FF7F00;
    --color-news-header: #fff;
    --color-news-header-bg: #FF7F00;
    --color-category-bg: #D9D9D9;
    --color-section-title: #1C3B7D;
    --color-about-sub: #555;
    --color-button: #fff;
    --color-button-bg-l: #1C3B7D;
    --color-button-bg-r: #2E63D4;
    --color-about-bg: #eee;
    --color-service-bg: #fff;
    --color-bottom: #fff;
    --color-bottom-line: #FF7F00;
    --color-for-recruit-bottom: #E97400;
    --color-footer: #fff;
    --color-copy: #CA9D71;
    --color-page-top: #042771;
}