:root {
    --color-bg-t: #fff;
    --color-bg-b: #698DD9;
    --color-main: #333;
    --color-hero: #fff;
    --color-slide-dot: rgb(255,255,255,0.25);
    --color-header: #fff;
    --color-header-fixed-bg: #042771;
    --color-nav-sp: #042771;
    --color-nav-sp-bg: rgb(255,255,255,0.9);
    --color-for-contact: #2E63D4;
    --color-for-recruit: #FF7F00;
    --color-news-header: #fff;
    --color-news-header-bg: #FF7F00;
    --color-category-bg: #D9D9D9;
    --color-section-title: #1C3B7D;
    --color-about-sub: #555;
    --color-button: #fff;
    --color-button-bg-l: #1C3B7D;
    --color-button-bg-r: #2E63D4;
    --color-about-bg: #eee;
    --color-service-bg: #fff;
    --color-service-scroll: #1C3B7D;
    --color-bottom: #fff;
    --color-bottom-line: #FF7F00;
    --color-for-recruit-bottom: #E97400;
    --color-footer: #fff;
    --color-copy: #CA9D71;
    --color-page-top: #042771;
    --color-bg-breadcrumb: #EAEAEA;
    --color-breadcrumb: #A1ADC9;
    --color-breadcrumb-bar: #698DD9;
    --color-breadcrumb-current: #1751CD;
    --color-page-footer-recruit_r: #FF9A35;
    --color-news-button-to-article: #fff;
    --color-news-button-to-article-bg: #18478D;
    --color-circle-button: #fff;
    --color-circle-button-bg: linear-gradient(-45deg, #1C3B7D 0%, #2E63D4 40%, #FFBB77 100%);
    --color-article-point: #18478D;
    --color-article-links: #1C3B7D;
    --color-article-links-hover: #A1ADC9;
    --color-service-item-bg: #fff;
    --color-service-title: #1C3B7D;
    --color-service-title-alpha: linear-gradient(to bottom, #fff, #2E63D4);
    --color-service-item-shadow: rgba(0, 0, 0, 0.15);
    --color-page-title: #1C3B7D;
    --color-name: #fff;
    --color-name-bg: linear-gradient(to bottom right, #1C3B7D, #2E63D4);
    --color-name-alpha: linear-gradient(to bottom, #fff, #2E63D4);
    --color-message-border: #D8D8D8;
    --color-company-tab: #fff;
    --color-company-tab-bg: linear-gradient(to top right, #1C3B7D 0%, #3054A0 70%, #2E63D4 100%);
    --color-map-link: #18478D;
    --color-map-link-hover: #fff;
}