@use "../global/" as g;
@use "../foundation/mixin" as m;

.contact {
    padding: 140px 0;
    color: var(--color-bottom);
    background: linear-gradient(12deg, var(--color-button-bg-l), var(--color-button-bg-r));
    position: relative;
    .c-container {
        .contact-contents {
            .bottom-text {
                margin: 30px 0;
            }
            .c-button {
                display: block;
                color: var(--color-bottom);
                border-color: var(--color-bottom);
            }
            .c-button:hover {
                color: var(--color-button-bg-l);
                background-color: var(--color-bottom);
            }
        }
        img {
            display: block;
            width: 50%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
            clip-path: polygon(42% 0, 100% 0, 100% 100%, 0 100%);
            z-index: 2;
        }
    }
}
.contact::after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 5px;
    background-color: var(--color-bottom-line);
    z-index: 3;
    top: 2.5rem;
    right: 0;
}

@include m.mq(pc) {
    .contact {
        padding: 3.0rem 0;
        background: linear-gradient(45deg, var(--color-button-bg-l), var(--color-button-bg-r));
        .c-container {
            .contact-contents {
                text-align: center;
                .bottom-text {
                    margin: 0.75rem 0;
                }
                .c-button {
                    display: inline-block;
                    border: 1px solid var(--color-bottom);
                    background: var(--color-bottom);
                    color: var(--color-for-contact);
                }
                .c-button:hover {
                    color: var(--color-bottom);
                    background: transparent;
                }
            }
            img {
                display: none;
            }
        }
    }
    .contact::after {
        display: none;
    }
}