footer {
    margin-top: 120px;
    padding: 120px 0 0;
    color: var(--color-footer);
    position: relative;
    background: linear-gradient(180deg, var(--color-button-bg-r), var(--color-button-bg-l));
    .c-container {
        .copyright {
            font-size: 0.75rem;
            line-height: 1.0em;
            letter-spacing: 0.1em;
            text-align: center;
            color: var(--color-copy);
            padding: 2.125rem 0;
        }
        .footer-contents {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 80px;
            .info {
                .company {
                    h1 {
                        margin-top: 10px;
                        font-size: 1.0rem;
                        line-height: 1.5em;
                        font-weight: 700;
                        span {
                            font-weight: 900;
                        }
                    }
                    p {
                        margin-top: 10px;
                        font-size: 0.875rem;
                        line-height: 1.5em;
                    }
                }
                .contact-info {
                    list-style: none;
                    margin-top: 40px;
                    li {
                        display: flex;
                        flex-wrap: nowrap;
                        font-size: 2.0rem;
                        line-height: 1.0em;
                        font-weight: 900;
                        column-gap: 10px;
                        align-items: center;
                        margin-bottom: 10px;
                        span {
                            font-size: 1.5rem;
                            line-height: 1.0em;
                        }
                    }
                    li:nth-of-type(2) {
                        font-size: 0.875rem;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                }
            }
            
            .menu {
                width: 45%;
                .footer-nav {
                    width: 100%;
                    height: 7.5rem;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 2.25rem;
                    li {
                        display: block;
                        font-size: 1.0rem;
                        line-height: 1.0em;
                        letter-spacing: 0.2em;
                        width: 50%;
                        a {
                            color: var(--color-footer);
                            text-decoration: none;
                            font-weight: 700;
                        }
                    }
                    li:last-of-type {
                        font-size: 0.75rem;
                    }
                }
                .sns-links {
                    list-style: none;
                    display: flex;
                    flex-wrap: nowrap;
                    column-gap: 1.25rem;
                    margin-top: 68px;
                    justify-content: right;
                    li {
                        font-size: 1.875rem;
                        line-height: 1.0em;
                        width: 1.0em;
                        a {
                            color: var(--color-footer);
                            text-decoration: none;
                        }
                    }
                }
            }
            
        }
    }
    .page-top-button {
        position: fixed;
        /* To Do: add fixed animation */
        right: 0;
        bottom: 0;
        z-index: 10;
        a {
            font-size: 2.0rem;
            line-height: 1.0em;
            display: block;
            cursor: pointer;
            text-decoration: none;
            color: var(--color-footer);
            padding: 3.375rem 0.875rem 0.875rem 3.875rem;
        }
    }
    .page-top-button::before {
        content: '';
        display: block;
        width: 100px;
        height: 100px;
        background-color: var(--color-page-top);
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
    }
    
}