@use "../global/" as g;
@use "../foundation/mixin" as m;

header {
    /* To Do: fix header width between 1000 ~ 1100 */
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    .c-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 100%;
        height: 100px;
        padding-left: 50px;
        align-items: center;
        justify-content: space-between;
        .ui {
            .header-logo {
                display: flex;
                flex-wrap: nowrap;
                column-gap: 0.25rem;
                text-decoration: none;
                align-items: center;
                img {
                    width: 1.875rem;
                    height: 1.875rem;
                    object-fit: cover;
                }
                p {
                    font-size: 1.5rem;
                    line-height: 1.375em;
                    letter-spacing: 0;
                    font-weight: 900;
                    color: var(--color-header);
                }
            }
        }
        .navigations {
            display: flex;
            flex-wrap: nowrap;
            .c-nav {
                color: var(--color-header);
                font-size: 1.0rem;
                line-height: 1.0em;
                font-weight: bold;
                margin-right: 30px;
                li {
                    a {
                        color: var(--color-header);
                        position: relative;
                    }
                    a::after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: var(--color-header);
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                        transition: all 0.3s;
                        transform: scale(0, 1);
                        transform-origin: left top;
                    }
                    a:hover::after {
                        transform: scale(1,1);
                    }
                }
                :nth-child(4), :nth-child(5) {
                    display: none;
                }
            }
            .nav-buttons {
                list-style: none;
                display: flex;
                flex-wrap: nowrap;
                li {
                    a {
                        text-decoration: none;
                        color: var(--color-header);
                    }
                }
                .for-contact:hover {
                    color: var(--color-for-contact);
                    background-color: var(--color-header);
                }
                .for-recruit:hover {
                    color: var(--color-for-recruit);
                    background-color: var(--color-header);
                }
            }

        }
        
    }
    
}
header.fixed {
    background-color: var(--color-header-fixed-bg);
    @include m.animation(
        $name: fade-in,
        $duration: 1.5s,
        $timing-function: ease,
        $delay: 0s,
        $iteration-count: 1,
        $direction: normal,
    );
}
@include m.mq(pc) {
    header {
        .c-container {
            height: 50px;
            padding-left: 15px;
            .ui {
                display: flex;
                flex-wrap: nowrap;
                column-gap: 1.0rem;
                align-items: center;
                .header-logo {
                    img {
                        width: 2.0rem;
                        height: 2.0rem;
                    }
                }
                .sp-border {
                    display: block;
                    width: 1px;
                    height: 24px;
                    background-color: var(--color-header);
                }
                .toggle {
                    cursor: pointer;
                    width: 56px;
                    height: 50px;
                    padding: 16px;
                    position: relative;
                    span {
                        display: block;
                        width: 24px;
                        height: 2px;
                        border-radius: 2px;
                        background-color: var(--color-header);
                        position: absolute;
                        transition: .35s ease-in-out;
                    }
                    span:nth-of-type(1) {
                        top: 16px;
                    }
                    span:nth-of-type(2) {
                        top: 24px;
                    }
                    span:nth-of-type(3) {
                        top: 32px;
                    }
                }
            }
            .navigations {
                .c-nav {
                    transition: 0.35s ease-in;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: -100vh;
                    left: 0;
                    width: 100%;
                    height: calc(100vh - 50px);
                    flex-direction: column;
                    padding: 24vh 0;
                    background-color: var(--color-nav-sp-bg);
                    flex-wrap: wrap;
                    column-gap: 0;
                    margin-right: 0;
                    font-size: 1.125rem;
                    line-height: 1.5rem;
                    letter-spacing: 0.05em;
                    :nth-child(4), :nth-child(5) {
                        display: list-item;
                    }
                    li {
                        width: 68%;
                        flex-grow: 0.2;
                        text-align: center;
                        a {
                            color: var(--color-nav-sp);
                        }
                        a::after {
                            background-color: var(--color-nav-sp);
                        }
                    }
                }
            }
        }
        
    }
}
header.open {
    .c-container {
        .ui {
            .toggle {
                span:nth-of-type(1) {
                    top: 24px;
                    transform: rotate(315deg);
                }
                span:nth-of-type(2) {
                    width: 0;
                    left: 50%;
                }
                span:nth-of-type(3) {
                    top: 24px;
                    transform: rotate(-315deg);
                }
            }
        }
        .navigations {
            .c-nav {
                top: 50px;
                opacity: 1.0;
                visibility: visible;
            }
        }
    }
}

@include m.mq(tab) {
    header {
        .c-container {
            .navigations {
                .c-nav {
                    li {
                        text-align: left;
                    }
                }
            }
        }
    }
}