@use "../global/" as g;
@use "../foundation/mixin" as m;

header {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    .c-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 100%;
        height: 100px;
        padding-left: 50px;
        align-items: center;
        justify-content: space-between;
        .navigations {
            display: flex;
            flex-wrap: nowrap;
            .c-nav {
                color: var(--color-header);
                align-items: center;
                font-size: 1.0rem;
                line-height: 1.0em;
                font-weight: bold;
                margin-right: 30px;
                li {
                    a {
                        color: var(--color-header);
                    }
                }
                :nth-child(4), :nth-child(5) {
                    display: none;
                }
            }
            .nav-buttons {
                list-style: none;
                display: flex;
                flex-wrap: nowrap;
                li {
                    a {
                        text-decoration: none;
                        color: var(--color-header);
                    }
                }
            }

        }
        
    }
    
}
@include m.mq(pc) {
    header {
        .c-container {
            height: 50px;
            padding-left: 15px;
            .ui {
                display: flex;
                flex-wrap: nowrap;
                column-gap: 1.0rem;
                align-items: center;
                .header-logo-sp {
                    img {
                        width: 2.0rem;
                        height: 2.0rem;
                        object-fit: cover;
                    }
                }
                .sp-border {
                    display: block;
                    width: 1px;
                    height: 24px;
                    background-color: var(--color-header);
                }
                .toggle {
                    cursor: pointer;
                    width: 56px;
                    height: 50px;
                    padding: 16px;
                    position: relative;
                    span {
                        display: block;
                        width: 24px;
                        height: 2px;
                        border-radius: 2px;
                        background-color: var(--color-header);
                        position: absolute;
                    }
                    span:nth-of-type(1) {
                        top: 16px;
                    }
                    span:nth-of-type(2) {
                        top: 24px;
                    }
                    span:nth-of-type(3) {
                        top: 32px;
                    }
                }
            }
            .navigations {
                .c-nav {
                    align-items: start;
                    margin-right: 0;
                    font-size: 1.125rem;
                    line-height: 1.5rem;
                    letter-spacing: 0.05em;
                    :nth-child(4), :nth-child(5) {
                        display: inline-block;
                    }
                    li {
                        a {
                            color: var(--color-nav-sp);
                        }
                    }
                }
            }
        }
        
    }
}