@use "../global/" as g;
@use "../foundation/mixin" as m;

.news {
    margin-top: -12.75rem;
    margin-bottom: 2.75rem;
    .c-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
        border: 5px solid var(--color-hero);
        background-color: var(--color-hero);
        .news-header {
            display: flex;
            flex-wrap: wrap;
            width: 20%;
            justify-content: center;
            align-items: center;
            color: var(--color-hero);
            padding: 2.75rem 2.9rem;
            background-color: var(--color-for-news);
            div {
                font-weight: 700;
                text-align: center;
                h1 {
                    font-size: 2.25rem;
                    line-height: 1.0em;
                    text-transform: uppercase;
                }
                p {
                    font-size: 1.125rem;
                    line-height: 1.5rem;
                    margin-top: 2px;
                }
            }
        }
        .c-news-contents {
            padding: 2.0rem;
            width: 100%;
        }
        .news-button {
            cursor: pointer;
            color: var(--color-hero);
            background-color: transparent;
            position: absolute;
            bottom: 0;
            right: -1.25rem;
        }
        .news-button span {
            position: absolute;
            font-size: 1.0rem;
            line-height: 1.125rem;
            padding: 0.5rem 1.125rem 0.5rem 2.375rem;
            clip-path: polygon(10% 0, 100% 0, calc(100% - 10%) 100%, 0 100%);
            font-weight: 700;
            text-decoration: none;
            white-space: nowrap;
            z-index: 12;
            background-color: transparent;
            bottom: 0;
            right: 0;
            i {
                font-size: 1.0rem;
                line-height: 1.0rem;
                letter-spacing: 0.05em;
                font-weight: 900;
                margin-left: 3.25rem;
            }
        }
        .news-button:hover span {
            color: var(--color-for-news);
            background-color: var(--color-hero);
        }
        .news-button::before {
            display: block;
            content: '';
            width: 12.875rem;
            height: 2.25rem;
            background-color: var(--color-for-news);
            clip-path: polygon(10% 0, 100% 0, calc(100% - 10%) 100%, 0 100%);
            position: absolute;
            z-index: 10;
            right: -1px; /* 0.0625rem = 1px is border size */
            bottom: -1px;
        }
    }
}
@include m.mq(pc) {
    .news {
        margin: 0;
        margin-top: -2.75rem;
        .c-container {
            width: 100%;
            border: 0;
            flex-wrap: wrap;
            background-color: transparent;
            .c-news-contents {
                background-color: var(--color-hero);
                padding: 1.25rem 15px 15px;
            }
            .news-header {
                display: block;
                flex-wrap: nowrap;
                padding: 0;
                padding-top: 8px;
                padding-left: 0.8rem;
                padding-bottom: 4px;
                width: 70%;
                clip-path: polygon(0 0, calc(100% - 5%) 0, 100% 100%, 0 100%);
                div {
                    text-align: left;
                    h1 {
                        display: inline-block;
                        font-size: 1.5rem;
                        line-height: 2.0rem;
                        font-style: italic;
                    }
                    p {
                        display: inline-block;
                        font-size: 0.75rem;
                        line-height: 2.0em;
                        margin-top: 0;
                        margin-left: 0.2rem;
                    }
                }
            }
            .news-button {
                position: static;
                margin-left: 15px;
                margin-bottom: 20px;
                border: 1px solid var(--color-for-news);
                text-decoration: none;
            }
            .news-button span {
                position: static;
                display: block;
                width: 9.375rem;
                padding: 0.75rem;
                font-size: 0.75rem;
                line-height: 1.0em;
                clip-path: none;
                color: var(--color-for-news);
                background-color: var(--color-hero);
                text-decoration: none;
                i {
                    font-size: 0.75rem;
                    line-height: 1.0em;
                }
            }
            .news-button:hover span {
                color: var(--color-hero);
                background-color: var(--color-for-news);
                text-decoration: none;
            }
            .news-button::before {
                display: none;
                clip-path: none;
            }
        }
    }
}


