@use "../global/" as g;
@use "../foundation/mixin" as m;

.top {
        display: block;
        width: 100%;
        height: auto;
        background-image: url(../../img/top_image.jpg);
        background-size: cover;
    .c-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        .top-contents {
            display: flex;
            width: 100%;
            height: auto;
            flex-wrap: nowrap;
            justify-content: space-between;
            color: var(--color-hero);
            position: relative;
            .hero-message {
                h1 {
                    display: block;
                    font-size: 6.0rem;
                    line-height: 1.0em;
                    font-style: italic;
                    font-weight: bold;
                    letter-spacing: 0.02em;
                    span {
                        line-height: 4.875rem;
                        letter-spacing: 0;
                        font-weight: 200;
                    }
                }
                p {
                    font-size: 2.0rem;
                    line-height: 2.0em;
                    letter-spacing: 0.05em;
                    display: block;
                    position: absolute;
                    top: 215px;
                    right: 171px;
                }
                .c-button {
                    color: var(--color-hero);
                    border-color: var(--color-hero);
                }
            }
            
        }
        
    }
}

@include m.mq(pc) {
    .top {
        .c-container {
            .top-contents {
                padding: 0 35px;
                .hero-message {
                    h1 {
                        font-size: 3.5rem;
                        line-height: 4.0rem;
                        span {
                            font-size: 2.5rem;
                            line-height: 3.375rem;
                        }
                    }
                    p {
                        position: static;
                        margin-bottom: 1.75rem;
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}