@use "../global/" as g;
@use "../foundation/mixin" as m;

.c-blue-slash {
    position: relative;
}
.c-blue-slash::after {
    display: block;
    content: '';
    width: 1.25rem;
    height: 3.125rem;
    background: var(--color-blue-slash-bg);
    transform: skewX(-30deg);
    position: absolute;
    top: -1.25rem;
    left: 2.5rem;
}

@include m.mq(pc) {
    .c-blue-slash::after {
        display: none;
    }
}