@use "../global/" as g;
@use "../foundation/mixin" as m;

.c-button {
    font-size: 1.13rem;
    line-height: 1.0em;
    letter-spacing: 0.15em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width: 15.0rem;
    padding: 1.19rem;
    padding-right: 9.93rem;
    color: var(--color-main);
    border: 1px solid var(--color-strong-blue);
    position: relative;
}
.c-button::after {
    position: absolute;
    top: 1.19rem;
    right: 1.19rem;
    content: '\f105';
    font-family: var(--font-awesome);
    font-size: 1.13rem;
    line-height: 1.0em;
    font-size: 900;
}

@include m.mq(pc) {
    .c-button {
        font-size: 0.75rem;
        line-height: 1.0em;
        width: 9.375rem;
        padding: 0.75rem;
        padding-right: 4.375rem;
        white-space: nowrap;
    }
    .c-button::after {
        margin: 0;
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        font-size: 0.75rem;
        line-height: 1.0em;
    }

}