@use "../global/" as g;
@use "../foundation/mixin" as m;

.c-header-button {
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.0em;
    letter-spacing: 0.02em;
    padding-top: 64px;
    padding-bottom: 24px;
    border: 3px solid var(--color-header);
    position: relative;
}
.c-header-button::after {
    display: block;
    font-family: var(--font-awesome);
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.0em;
    letter-spacing: 0.02em;
    position: absolute;
    top: 24px;
    left: calc(50% - 1.25rem);
}

@include m.mq(pc) {
    .c-header-button {
        width: 50px;
        height: 50px;
        font-size: 0.375rem;
        padding-top: 32px;
        padding-bottom: 12px;
    }
    .c-header-button::after {
        font-size: 1.25rem;
        top: 12px;
        left: calc(50% - 0.625rem);
    }
}