.c-nav {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.c-nav li {
    margin-right: 20px;
}
.c-nav:last-child {
    margin-right: 0;
}
.c-nav li a {
    cursor: pointer;
    text-decoration: none;
}