@use "../global/" as g;
@use "../foundation/mixin" as m;

.c-nav {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 20px;
}
.c-nav li a {
    cursor: pointer;
    text-decoration: none;
}